.slider {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    position: absolute;
    display: flex;
    align-items: center;

    .btn {
        position: relative;
        cursor: pointer;
        font-size: 10vw;
        transition: all 0.3s ease;
        color: rgba(182, 181, 181, 0.384);

        &:hover {
            color: #00b19d;
        }
    }


    &__item {
        opacity: 0;
        display: none;

        .slider-pic {
            width: 100%;
        }

        .slider-speach {
            position: absolute;
            width: 300px;
            bottom: 0px;
            right: 0px;
            margin-right: 18vw;
            line-height: 32px;
            font-size: 18px;
            color: #6e6e6e;
            background-color: #e9edf2;
            border-radius: 15px;
            padding: 25px;
            transition: all 0.3s ease;

            @media screen and (max-width: 1000px) {
                font-size: 15px;
                line-height: 20px;
                padding: 10px 20px;
                width: 200px;
            }

            @media screen and (max-width: 700px) {
                bottom: -20px;
                width: 200px;
            }

            @media screen and (max-width: 500px) {
                bottom: -80px;
                width: 200px;
                margin-right: 10vw;
            }
        }
    }

    .active {
        display: inline-block;
        opacity: 1;
    }
}