.pic-block {
    width: 100%;
    height: 400px;
    background-image: url(../images/section-4-back@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 20% top 50%;
}